* {
	margin: 0;
	padding: 0;
	text-decoration: none;
    box-sizing: border-box;
	font-family: 'Montserrat';
}
img{
	object-fit: cover;
}
li{
	list-style: none;
}
button, input{
	outline: none;
}
#root{
    min-height: 100vh;
}